<h1>About | Services</h1>
<ul>
    {{#each tours}}
    <li>{{name}} 
    {{#if price}}
    - {{price}} {{../currency.abbrev}}
    {{/if}}
    </li>
    {{/each}}
</ul>
<p>
<p>Currencies accepted:</p><br>
{{#each currencies}}
<a href="#" class="currency">{{.}}</a>
{{else}}
Unfortunately, we currently only accept {{currency.name}}.
{{/each}}
</p>